nav {
    position: fixed;
    width: 100%;
    background-color: rgb(33, 33, 33);
    height: 51px;
    z-index: 2;
}
  
header {
    position: relative;
}
.hamburger {
    display: none;
}
  
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    list-style: none;
    &_link {
        font-size: 15px;
        color: $main_color;
        text-decoration: none;
        font-weight: 300;
    }
    &_item {
        border-right: dotted 2px black;
        padding-right: 28px;
        &:last-child {
            border-right: none;
        }
    }
}
  
.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 50px;
    &_logo {
        display: block;
        min-width: 100%;
        margin-top: 16px;
    }
    &_official {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.502);
        font-weight: 400;
        opacity: 0.5;
        margin-top: 6px;
    }
    &_call {
        font-size: 12px;
        color: rgb(255, 255, 255);
        margin-top: 19px;
        text-align: right;
    }
    &_tell {
        display: block;
        font-size: 22px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-decoration: none;
        text-align: right;
        line-height: 1;
    }
    &_btn {
        margin-top: 19px;
        width: 172px;
        height: 46px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
        border: none;
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        font-size: 14px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0.707px 0.707px 0px rgba(0, 0, 0, 0.21);
        font-weight: 400;
        border-radius: 4px;
        @include hover-btn;
    }
}  


.promo {
    min-height: 800px;
    background: url("..//img/bc/bc1.jpg") center (center / cover) no-repeat;
    padding: 150px 0 135px 0;
    &_btn {
        margin-top: 19px;
        width: 172px;
        height: 46px;
        display: block;
        margin: 118px auto 0 auto;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
        border: none;
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        font-size: 14px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0.707px 0.707px 0px rgba(0, 0, 0, 0.21);
        font-weight: 400;
        border-radius: 4px;
        @include hover-btn;
    }
    &_header {
        font-size: 60px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        line-height: 60px;
        margin: 0;
    }
    &_subheader {
        font-size: 36px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
        margin: 0;
        margin-top: 22px;
    }
    &_descr {
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.333;
        text-align: center;
        font-weight: 400;
        margin-top: 23px;
    }

}
  
.label {
    height: 24px;
    width: 114px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 4px 0;
}
  
.title {
    margin-top: 38px;
    font-size: 38px;
    color: rgb(34, 34, 34);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
  
.reasons {
    min-height: 900px;
    padding: 73px 0 68px 0;
    &_item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 42px;
    }
    &_round {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 115px;
        width: 115px;
        background-color: rgb(30, 172, 199);
        margin-right: 26px;
    }
    &_descr {
      width: 350px;
    }
    &_header {
      font-size: 17px;
      color: rgb(30, 172, 199);
      line-height: 1.235;
      font-weight: 400;
    }
    &_text {
      font-size: 15px;
      color: #202020;
      line-height: 1.235;
      font-weight: 300;
    }
}

.subtitle {
    font-size: 17px;
    color: rgb(34, 34, 34);
    text-align: center;
    font-weight: 400;
    margin-top: 19px;
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url("../img/bc/bc2.jpg") center center/cover no-repeat;
    .row {
        margin-top: 32px;
    }    
    &_item {
        position: relative;
        width: 320px;
        height: 280px;
        margin:  0 auto;
        margin-bottom: 19px;
        padding-top: 92px;
        &_1{
            background: url("../img/photo/photo1.jpg") center center/cover no-repeat;
        }
        &_2{
            background: url("../img/photo/photo2.jpg") center center/cover no-repeat;
        }
        &_3{
            background: url("../img/photo/photo3.jpg") center center/cover no-repeat;
        }
        &_4{
            background: url("../img/photo/photo4.jpg") center center/cover no-repeat;
        }
        &_5{
            background: url("../img/photo/photo5.jpg") center center/cover no-repeat;
        }
        &_6{
            background: url("../img/photo/photo6.jpg") center center/cover no-repeat;
        }

        &_subtitle {
            font-size: 24px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            line-height: 1.292;
            text-align: center;
            font-weight: 400;
        }
        &_plus{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            border-radius: 50%;
            background-color: rgb(0, 0, 0);
            width: 26px;
            height: 26px;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            &:before {
                content: "";
                display: block;
                width: 14px;
                height: 2px;
                background-color: $primary_color;
                transition: 0.3s all;
            }
            &:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                height: 14px;
                width: 2px;
                background-color: $primary_color;
                transition: 0.3s all;
            }
            &:hover {
                &:before, &:after {
                background-color: $second_color;
                } 
            }
        }
    }      
}
.car {
    min-height: 898px;
    padding: 56px 0 146px 0;
    background: #070719 url("../img/bc/bc2.jpg") bottom center/100% 50%  no-repeat;
    .label {
        background-color:$main_color;
        color: black;
    }
    .title {
        color:$main_color;
    }
    .subtitle {
        color: $main_color;
    }
    &_img{
        display: block;
        margin: 60px auto 0 auto;
        width: 100%;

        
    }
    &_descr{
        font-size: 17px;
        color: rgb(34, 34, 34);
        line-height: 1.412;
        text-align: center;
        margin-top: 42px;
    }
          
}
.require {
    padding: 68px 0 84px 0;
    &_block {
        margin: 33px 0;
        &_nmb {
            margin-bottom: 0;
        }
    }
    &_title {
        font-size: 22px;
        color:  rgb(28, 168, 195);
        text-align: left;
        font-weight: 400;
    }
    &_list {
        list-style-type: none;
        padding-left: 50px;
        margin-top: 22px;
        li {
            position: relative;
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 10px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -32px;
                top: 3px;
                width: 21px;
                height: 20px;
                background: url("../img/others/blue.png") center center/cover no-repeat;
            }
        }
    }
    &_descr {
        margin-top: 25px;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        color:  rgb(28, 168, 195);
    }
    .warning {  
        .require_title {
            color: $second_color;
        }
        .require_list {
            li{
                &::before {
                    background: url("../img/others/red.png") center center/cover no-repeat;
                }
            }
        }

    }
}
.wourld {
    position: relative;
    min-height: 719px;
    background: url("../img/bc/bc4.jpg") center center/cover no-repeat;
    padding: 55px 0 52px 0;
    .label {
        background-color:$main_color;
        color: black;
    }
    .title {
        color:$main_color;
    }
    .subtitle {
        color: $main_color;
    }
    &_link {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        a {
            text-decoration: none;
            color: rgb(31, 186, 214);
        }
    }
}
footer {
    position: relative;
    min-height: 150px;
    &::after {
        content: "";
        position: absolute;
        background-color: #070719;
        height: 9px;
        bottom: 0;
        width: 100%;
    }
    .footer {
        padding: 14px 23px 39px 23px;
        &_wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top:  36px;
        }
        &_sm {
            display: flex;
            justify-content: start;
            width: 33%;
        }
        &_links {
            width: 33%;
        }
        &_sm_round {
            border-radius: 50%;
            background-color: rgb(7, 7, 22);
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
        &_main_link {
            display: flex;
            justify-content: space-around;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            list-style-type: none;
            a {
                color: rgb(7, 7, 22);
                text-decoration: none;
            }
        }
        &_sub_link {
            display: flex;
            justify-content: space-around;
            font-size: 11px;
            text-transform: uppercase;
            list-style-type: none;
            font-weight: 300;
            margin-top: 20px;
            a {
                text-decoration: none;
                color: rgb(153, 153, 153);
            }
        }
        &_lang {
            font-size: 11px;
            color: rgb(31, 186, 214);
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            display: block;
            text-decoration: none;
            margin-top: 23px;
        }
        &_app {
            display: flex;
            justify-content:flex-end;
            width: 33%;
        }

    }
    .line {
        width: 300px;
        height: 4px;
        background-color: $primary_color;
        margin: 0 auto;
    }

}
.xs-visible {
    display: none;
}
