@media (max-width: 1200px) {
	.menu {
		&_link {
			font-size: 13px;
		}
		&_item {
			padding-right: 20px;
		}
	}
	.promo {
		&_header {
			font-size: 50px;
		}
	}
	.reasons {
		&_descr {
			width: 300px;
		}
	}
	.mobile {
		min-height: 800px;
		padding: 35px 0 25px 0;
		&_item {
			width: 300px;
		}
	} 
	footer {
		.footer {
			&_sm {
				width: 25%;
			}
			&_links {
				width: 50%;
			}
			&_app{
				width: 25%;
				flex-flow: column;
				align-items: flex-end;
				a {
					margin-bottom: 5px;
				}
			}
		}  
	}
	
}
@media (max-width: 991px) {
	.menu {
		&_link {
			font-size: 10px;
		}
		&_item {
			padding-right: 8px;
		}
	}
	.subheader {
		&_logo {
			img {
				width: 100%;
			}
		}
		&_official {
			font-size: 11px;
		}
		&_tell{
			font-size: 18px;
		}
		&_btn {
			margin-top: 21px;
			height: 40px;
			width: 100%;
		}
	}
	.promo {
		&_header {
			font-size: 40px;
		}
		&_subheader {
			font-size: 30px;
		}

	}
	.reasons {
		&_item  {
			flex-direction: column;
			align-items: center;
		}
		&_round {
			margin-right: 0;
		}
		&_descr {
			width: 300px;
			margin-top: 20px;
		}
	}

}
@media (max-width: 767px) {
	.menu {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba($color: #000000, $alpha: .8);
		transition: all 0.6s;
		&_active {
			left: 0;
		}
		&_item {
			padding-right: 0; 
			border: none;
			margin: 10px 0;
		}
		&_link {
			font-size: 20px;
		}
	}
	.hamburger {
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 26px;
		height: 12px;
		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 2px;
			transition: 0.5s all;
		}
		&_active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}
			
			}
		}
	}
	.xs-hidden {
		display: none;
	}
	.xs-visible {
		display: block;
	}
	.subheader {
		&_tell{
			display: block;
			margin-top: 10px;
			font-size: 16px;
			color: rgb(255, 255, 255);
			text-transform: uppercase;
			text-align: center;
			font-weight: 400;
		}
		&_btn {
			width: 200px;
			height: 40px;
			display: block;
			margin: 0 auto;
			// margin-top: 10px;  /*у него есть это значение*/
		}
	}
	.promo {
		&_header {
			line-height: 45px;
		}
	}
	footer {
		.footer{
			&_wrapper {
				flex-direction: column;
				align-items: center;
				
			}
			&_links {
				order: 1;
				width: 100%;
			}	
			&_sm {
				order: 2;
				width: 100%;
				justify-content: center;
				margin-top: 20px;
			}
			&_app {
				flex-direction: row;
				justify-content: center;
				order: 3;
				width: 100%;
				margin-top: 20px;
				a {
					margin: 0 5px;
				}
			}
		}
	}  
}
@media (max-width: 575px) {
	nav {
		height: 30px;
	}
	header {
		height: 30px; //надо 30px
	}
	.subheader {
		height: 60px;
		top: 30px;
		&_official {
			display: none;
		}
		&_logo {
			margin-top: 16px;
		}
		&_tell {
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
			margin-top: 11px;
			// line-height: 12px;
		}
		&_btn {
			width: 110px;
			height: 22px;
			font-size: 10px;
			margin-top: 9px;
			&:hover {
				background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
			}
			  
			  
		}
	}
	.promo {
		min-height: 400px;
		padding: 93px 0 35px 0;
		
		&_header {
			font-size: 30px;
			padding: 0 24px;
			line-height: 35px;
		}
		&_subheader {
			font-size: 20px;
			margin-top: 33px;
			padding: 0 13px;
			line-height: 30px;
		}
		&_descr {
			display: none;
		}
		&_btn {
			width: 210px;
			height: 50px;
			margin-top: 72px;
			&:hover {
				background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
			}
		}
		
	}
	.menu {
		width: 85%;
		&_item {
			width: 100%;
			text-align: center;
			padding: 5px 0;
		}
		&_link {
			display: block;
		}
	}
	.reasons {
		padding: 22px 0 36px 0;
		&_item {
			margin-top: 26px;
		}
		&_round {
			width: 100px;
			height: 100px;
		}
		&_descr {
			width: 100%;
			margin-top: 27px;
		}
		&_header {
			font-size: 16px;
		}
	}
	.title {
		font-size: 16px;
		margin-top: 15px;
		line-height: 16px;
	}
	footer .line {
		width: 100%;
	}
	.car {
		min-height: 390px;
		padding: 25px 0 30px 0;
		background-size: 0 0;
		.title, .subtitle {
			display: none;
		}
		&_descr {
			font-size: 17px;
			color: rgb(255, 255, 255);
			line-height: 1.412;
			text-align: center;
		}
	}
	.mobile {
		padding: 23px 5px 43px 5px;
		&_item {
			width: 100%;
			padding: 79px 47px;
			&_subtitle {
				font-size: 16px;
				line-height: 1.7;
			}
		}
	}

	.require {
		padding: 28px 0 31px 0;
		&_title {
			font-size: 16px;
		}
		&_list {
			padding-left: 2rem;
			margin-top: 9px;
			li {
				font-size: 14px;
				line-height: 16px;
				&:before {
					top: -2px;
				}
			}
		}
		&_descr {
			margin-top: 15px;
			font-size: 14px;
			line-height: 16px;
		}
	}
	.wourld {
		min-height: 360px;
		padding: 26px 0 36px 0;
		.subtitle {
			font-size: 14px;
			margin-top: 10px;
			line-height: 1;
		}
		&_link {
			bottom: 34px;
			width: 100%;
		}
	}
	footer {
		.footer {
			padding: 20px;
			&_wrapper {
				padding-top: 20px;

			}
			&_main_link {
				font-size: 14px;
			}
			&_sub_link {
				flex-wrap: wrap;
				margin: 0 auto;
				margin-top: 15px;
				width: 250px;
				justify-content: space-between;
				a {
					padding-right: 10px;
					line-height: 17px;
				}
			}
			&_app {
				img {
					width: 84px;
				}
			}
			&_lang {
				margin-top: 15px;
			}
		}

	}  

}
  
  
